      body {
        background-image: url(../images/Login_BG2.jpg);
        -moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
		background-position: top center !important;
		background-repeat: no-repeat !important;
		background-attachment: fixed;
      }

      .form-signin {
        max-width: 200px;
        min-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: rgba(192,192,192,0.5);
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
        position: fixed;
  		top: 50%;
  		left: 50%;
	  	transform: translate(-50%, -50%);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
      .container {
       text-align: center;
      }

